<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<H3>List of Brands</H3>
<hr>

<div th:each="brand : ${brands}">
    <a th:href="@{/brand/{id}(id=${brand.getId()})}"
       th:text="'Id: ' + ${brand.getId()} + ', Name: ' + ${brand.getName() + ', Type: ' + brand.getType() + ', Tank(liters): ' + brand.getTankInLiters() + ', LiftingCapacity(tons): ' + brand.getLiftingCapacityInTons() + ', Seats: ' + brand.getNumberOfSeats()}">user</a>
</div>


<br/>
<hr/>

<!--<a href="/people/new">Create new person</a>-->

</body>
</html>