<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show vehicle</title>
</head>
<body>
<H3>Show vehicle info</H3>
<hr>
<p th:text="'ID: ' + ${vehicle.getId()}">VALUE</p>
<p th:text="'PRICE: ' + ${vehicle.getPrice()}">VALUE</p>
<p th:text="'YEAR OF MANUFACTURE: ' + ${vehicle.getYearOfManufacture()}">VALUE</p>
<p th:text="'MILEAGE: ' + ${vehicle.getMileage}">VALUE</p>
<p th:text="'COLOR: ' + ${vehicle.getColor}">VALUE</p>
<hr>
<a th:href="@{/vehicle/{id}/edit(id=${vehicle.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/vehicle/{id}(id=${vehicle.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>